@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');

:root{
    --fab-blue: #2196D4;
    --fab-red:  #A50E06;
    --fab-grey: #595A5C;
    --fab-ocean-blue: #102E4A;
    --fab-yellow: #FFDD00;
    --fab-silver: #DADCE1;

    --womens-day-primary: #756AB6;
    --womens-day-secondary: #E0AED0;
    --womens-day-tint: #e4cfdd;

    --br-min: 1rem;
    --br-mid: 3.2rem;
    --br-rounded: 50%;

    --font-main: "Poppins", sans-serif;
    --font-serif: "Ultra", serif;
}

$light-pink: #e4cfdd;
$light-violet: #a59ae0;

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

// Styles

h1, h2, h3, h4, h5, h6, p{
    &.serif{
        font-family: var(--font-serif);
        margin-block-start: 0;
        margin-block-end: 0;
    }
    &.text-color-primary{
        color: var(--womens-day-primary);
    }
}

h1{
    font-size: 340%;
    font-weight: 500;
}

h2{
    font-size: 280%;
    font-weight: 500;
}

h3{
    font-size: 160%;
    font-weight: 400;
}

h4{
    font-size: 100%;
    font-weight: 400;
}

h5{
    font-size: 80%;
    font-weight: 300;
}

h6{
    font-size: 70%;
    font-weight: 300;
}

a{
    text-decoration: none;
    background: var(--womens-day-secondary);
    color: var(--fab-ocean-blue);
    font-weight: 400;
    &:hover{
        text-decoration: underline;
        font-style: italic;
        // font-family: var(--font-serif);
    }
    &:visited{
        color: var(--fab-red);
    }
}

// Core

body{
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
    &.light{
      background: var(--fab-silver);
    }
    &.pink{
    //   background: var(--womens-day-tint); 
        background: linear-gradient(45deg, $light-pink, $light-violet);
        filter: url(#grainy);
        background-size: 400% 400%;
        animation: gradient-animation 6s ease infinite; 
    }
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    &.main{
        gap: 0.1rem;
    }
}

ul{
    text-align: center;
    padding-left: 0;
    li{
        list-style-type: none;
        h3{
            font-weight: 300;
            margin-block-end: 10px;
        }
    }
}

svg.noise[height='0'] { position: fixed }

.greeting{
    text-align: center;
    word-break: keep-all;
    transition: all 200ms ease;
    &:hover{
        transform: scale(1.1);
    }
    span.le{
        cursor: pointer;
        transition: all 200ms ease;
        &:hover{
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); /* Golden gradient */
            -webkit-background-clip: text; /* Clip text to the background */
            background-clip: text;
            color: transparent;
        }
    }
}

svg.logo{
    width: 10%;
}

a#video{
    cursor: help;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    .location, .date{
        display: flex;
        align-items: center;
    }
}

.paragraph{
    width: 50%;
    word-break: normal;
    text-align: center;
}

.back{
    transform: scale(0.5);
    svg{
        transform: rotate(0);
        transition: all 100ms ease;
    }
    &:hover{
        text-decoration: none;
        transform: scale(0.5);
        svg{
            transform: rotate(-20deg);
        }
    }
}

// somre responsive code

// mobile 

@media screen and (max-width: 780px){
    svg.logo{
        width: 50%;
    }
    iframe#videoplayer{
        width: 90%;
    }

    .paragraph{
        width: 90%;
    }
    .row{
        flex-direction: column;
        gap: 4px;
        h3{
            font-size: 100%;
            margin: 0;
        }
    }
}


//tablets & smaller desktops

@media screen and (min-width: 780px) and (max-width:  1100px){
    svg.logo{
        width: 30%;
    }
    .paragraph{
        width: 80%;
    }
}
